<% if comment.errors.any? %>
  <% comment.errors.full_messages.each do |msg| %>
    <div class="error-message">
      <%= msg %>
    </div>
  <% end %>
<% end %>


<%= form_with model: [post, comment] do |form| %>
<div class="comment-form">
  <%= form.text_area :body, placeholder: 'What do you think of this?', size: "70x5", class: "comment-input" %>
  <%= form.submit class: "comment-submit-button" %>
</div>
<% end %>

