<div class="navbar-container">
  <div class="navbar">
    <div class="nav-left">
      <div class="logo">
        <%= image_tag ('sociwave-icon.png') %>
        <p>SociWave</p>
      </div>
    </div>
    <div class="nav-right">
      <div class="messages">
        <%=link_to image_tag 'messages.png'%>
      </div>
      <div class="notifications">
        <%=link_to image_tag 'notification.png'%>
      </div>
      <div class="user">
        <%=link_to image_tag 'user.png'%>
      </div>
    </div>
  </div>
</div>