<div class="navbar">
  <% if user_signed_in? %>
    Welcome! <%= current_user.username%>
  <% end %>
</div>
<h1>Timeline</h1>
<% @post.each do |post| %>
  <%= post.title %>
  <%= post.body %>
  <%= post.user %>
<% end %>