.comment-item {
  border-top: 1px solid;
  padding: 1rem;
}

.comment-head {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.comment-body {
  padding-top: .3rem;
}

.comment-form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: .5rem;
}

.comment-input,
.comment-submit-button {
  border: none;
  border-radius: .5rem;
  padding: .7rem;
  resize: none;
}

.field_with_errors {
  display: flex;
}

.error-message {
  color: red;
}