/* Nav bar */
.navbar-container {
  background-color: rgb(202, 235, 250);
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 1rem;
  max-width: 1300px;
}

.navbar img {
  width: 50px;
}

.navbar > .nav-left > .logo,
.navbar>.nav-right {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

/* Add post section */
.add-post-container {
  background-color: aqua;
}

.post-form {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.post-form textarea {
  padding: 1rem;
  resize: none;
}

.post-form input[type="submit"] {
  float: right;
  padding: 0.3rem 0.5rem;
}

/* post display section */
.post-display-container {
  align-items: center;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
}

.post-display {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post-item {
  background-color: azure;
  border: 1px solid;
  width: 75ch;
}